.row {
  color: white;
  margin-left: 20px;
}

.row__post {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;      /*if you gonna use transform,you gotta pad your container otherwise it will crop*/
}

.row__post::-webkit-scrollbar {
  display: none;      /*keep the functionality but dont show the bars*/
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;  /*if size changes,take 450ms*/
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 300px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  /* opacity: 1; */
}

